#!/bin/bash

sleeptime={{ ansible_pull_sleep }}
firstboot=0

case "$1" in
    --nowait)
	sleeptime=0
	;;
    --firstboot)
	sleeptime=0
	firstboot=1
	;;
    *)
	true
	;;
esac

{# Will fill the variable ansible_pull_vault_pw_file_location_arg if ansible pull vault password is defined #}
{%- set ansible_pull_vault_pw_file_location_arg = "" -%}
{%- if ansible_pull_vault_password != "" -%}
    {%- set ansible_pull_vault_pw_file_location_arg="--vault-password-file " + ansible_pull_vault_pw_file_location -%}
{%- endif -%}

{# Tags are filled during installation of this script. May look a bit
# weird if there were no tags.
#
# If no tags had been supplied, the next part will be skipped and the ansible_pull_tags_arg variable is empty #}
{%- set ansible_pull_tags_arg = "" -%}
{%- if ansible_pull_tags != "" -%}
    {%- set ansible_pull_tags_arg="-t " + ansible_pull_tags -%}
{%- endif -%}

{# Same procedure for more variables #}
{%- set ansible_pull_vars_arg = "" -%}
{%- if ansible_pull_vars != "" -%}
    {%- set ansible_pull_vars_arg="-e " + ansible_pull_vars -%}
{%- endif -%}

sleep $sleeptime

attempts=0
while :
do
    git clone --quiet --branch {{ ansible_pull_checkout }} {{ ansible_pull_repository }} {{ ansible_pull_directory }}
    rc=$?
    if [ "$rc" == "0" ]; then
	break
    
    # 128: could not connect
    elif [ "$rc" != "0" ]; then
	attempts=$(($attempts))+1
	if [ $(($attempts)) -gt 10 ];
	then
	    exit $rc
	fi
    fi
done

if [ "$firstboot" == "0" ]; then
    export ANSIBLE_STDOUT_CALLBACK=json
fi
http_proxy="http://proxy.ethz.ch:3128"
https_proxy="http://proxy.ethz.ch:3128"
HTTP_PROXY="http://proxy.ethz.ch:3128"
HTTPS_PROXY="http://proxy.ethz.ch:3128"
no_proxy="$no_proxy, 127.0.0.1, localhost, .ethz.ch"
export http_proxy https_proxy HTTP_PROXY HTTPS_PROXY no_proxy

cd {{ ansible_pull_directory }}

{# Installs ansible collections with ansible-galaxy command #}
{%- set ansible_collection_install_cmd = "" -%}
{% if ansible_collection_use %}
{%- set ansible_collection_install_cmd="ansible-galaxy collection install " + ansible_collection_url_file + ansible_collection_install_arg -%}

{{ ansible_collection_install_cmd }} {{ ansible_collection_install_arg }}
ansible_collection_install_rc=${PIPESTATUS[0]}
if [ "$ansible_collection_install_rc" != 0 ]
then
    echo "#### ERROR while executing ansible-galaxy install return code: $ansible_collection_install_rc ####"
    rm -rf {{ ansible_pull_directory }}
    exit $ansible_collection_install_rc
fi
{% endif %}

{{ ansible_pull_pre_cmd }} ansible-playbook --connection=local -i {{ ansible_pull_inventory }} -l $(hostname -s) {{ ansible_pull_vault_pw_file_location_arg }} {{ ansible_pull_tags_arg }} {{ ansible_pull_vars_arg }} {{ ansible_pull_playbook }} {{ ansible_pull_post_cmd }}
ansible_rc=${PIPESTATUS[0]}

if [ "$ansible_rc" == 0 ]
then
    rm -rf {{ ansible_pull_directory }}
else
    echo "#### ERROR while executing ansible-playbook return code: $ansible_rc ####"
    rm -rf {{ ansible_pull_directory }}
    exit $ansible_rc
fi

{% if ansible_pip_use == false %}
# satellite-register may update all packages, but excludes Ansible. During first boot of a newly
# registered VM, we have to update Ansible separately
if [ "$firstboot" == "1" ]; then
    yum update -y ansible
fi
{% endif %}